<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="login.css" /> <!-- Check styling -->
  </head>
  <body>
    <DIV class="back-img">
    <div class="login-container">
      <form method="POST" action="/home">
        <br>
        <input class="input" type="text" name="name" placeholder="User Name" required />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required
        />
        <form method="GET" action="/home">
        <button class="btn" type="submit">Submit</button>
        </form>
      </form>
    </div>
  </DIV>
  </body>
</html>